<div class="row">
  <div *ngIf="params.data.StatusID < 3">
    <button class="btn-sm btn-danger " width="100" (click)="open()">
      &nbsp;&nbsp;&nbsp;Validate&nbsp;&nbsp;&nbsp;
    </button>
  </div>
  <div *ngIf="params.data.StatusID == 3">
    <button class="btn-sm btn-success " width="100" *ngIf="params.data.StatusID > 2" (click)="lead()">
      Create Lead
    </button>
  </div>
  <div *ngIf="params.data.StatusID == 4">
    <button class="btn-sm btn-success " width="100" *ngIf="params.data.StatusID > 3" (click)="open()">
      View Notes
    </button>
  </div>
</div>
