/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

// Theme customization
@import "theme/theme";
.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
  display: inline-block;
  text-align: center;
}
.ag-theme-balham .ag-header-cell-label .ag-header-icon {
  vertical-align: top;
}
.ag-theme-balham .ag-header-cell-label > span {
  float: none;
}
.ag-paging-panel {
  color: black;
}
