<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-6 d-flex justify-content-center">
      <div class="form-row">
        <form>
          <div class="form-row">
            <div class="form-group">
              <label for="inputaddFirstName"><b>First Name</b></label>
              <input
                type="text"
                class="form-control"
                id="inputaddFirstName"
                name="addfirstname"
                placeholder="First Name"
                ng-required="true"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="inputaddLastName"><b>Last Name</b></label>
              <input
                type="text"
                class="form-control"
                id="inputaddLastName"
                name="addlastname"
                placeholder="Last Name"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="inputaddPhone"><b>Phone</b></label>
              <input type="text" class="form-control" id="inputaddPhone" name="addphone" placeholder="111 111-1111" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="inputaddEmail"><b>Email</b></label>
              <input type="text" class="form-control" id="inputaddEmail" name="addemail" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<div class="container-fluid d-flex justify-content" *ngIf="!isEdit && isAdmin">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-2">
        <div ngbDropdown>
          <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>
            <div ngbDropdownMenu class="dropdown show" aria-labelledby="language-dropdown">
              <select [(ngModel)]="selectedSource" (change)="filterForeCasts($event.target.value)">
                <option value="0">--Select Source--</option>
                <option *ngFor="let source of sources" value="{{ source.SourceId }}">
                  {{ source.SourceName }}
                </option>
              </select>
            </div>
          </button>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="row d-flex justify-content-left">
          <div>
            <input type="file" class="form-control" id="customFile" (change)="selectFile($event)" accept=".csv" />
          </div>
          <div>
            &nbsp;
          </div>
          <div>
            <button [disabled]="!selectedFiles" (click)="upload()" class="btn btn-primary">Upload</button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 pull-right" *ngIf="!quote?.length == 0">
        <div class="row">
          <div ngbDropdown>
            <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>
              <div ngbDropdownMenu class="dropdown show" aria-labelledby="language-dropdown">
                <select [(ngModel)]="selectedLevel" (change)="filterForeCasts($event.target.value)">
                  <option value="0">--Select User--</option>
                  <option *ngFor="let associate of associates" value="{{ associate.UserId }}">
                    {{ associate.UserName }}
                  </option>
                </select>
              </div>
            </button>
          </div>
          <div>
            &nbsp;
          </div>
          <button type="button" (click)="assign()" class="btn btn-primary">Assign</button>
        </div>
      </div>
      <div class="col-lg-3 pull-right">
        <button class="btn btn-primary" (click)="open(content)">Add Profile</button>
      </div>
    </div>
    <div class="row">
      &nbsp;
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="!isEdit">
  <!-- <div class="jumbotron text-center"> -->

  <app-loader [isLoading]="isLoading"></app-loader>
  <div id="agGrid">
    <ag-grid-angular
      #dzgrid
      style="width: 100%; height: 530px;"
      class="ag-theme-balham"
      [rowHeight]="35"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      pagination="true"
      rowSelection="multiple"
      rowDeselection="true"
      suppressRowClickSelection="true"
      (rowSelected)="onRowSelected($event)"
      paginationPageSize="13"
    >
    </ag-grid-angular>
  </div>
</div>
